* {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	box-sizing: border-box; /* Include border and padding in the element's total width and height */
	padding: 0;
	margin: 0;
}

body {
	background-color: hsl(250, 27%, 27%);
	color: hsl(33, 35%, 54%);
}

.app {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-inline: 0.5rem;
	/* align-items: center; */
}

.container {
	width: 70%;
	/* max-height: 100vh; */
	/* overflow-y: scroll; */
	display: flex;
	justify-content: center;
	flex-direction: column;

	padding: 2rem;
	gap: 2rem;
}

.input-container {
	position: sticky;
	bottom: 2rem;
	display: flex;
	width: 100%;
	gap: 1rem;
	& input {
		width: 0%;
		flex-grow: 1;
		padding: 1rem;
		border-radius: 0.5rem;
	}

	& button {
		background-color: hsl(33, 35%, 54%);
		color: white;
		padding: 1rem;
		border-radius: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-wrap: nowrap;
		cursor: pointer;
	}
}

.search-result {
	display: grid;
	gap: 1rem;
	& div {
		display: flex;
		gap: 1rem;
		padding: 1rem;
		border-radius: 0.5rem;
		& aside {
			& div {
				border-radius: 100%;
				background-color: hsl(33, 35%, 54%);
				color: white;
				display: flex;
				width: 3rem;
				height: 3rem;
				justify-content: center;
				align-items: center;

				& img {
					width: 1.5rem;
					/* aspect-ratio: 1 / 1; */
				}
			}
		}
		& pre {
			text-wrap: wrap;
			text-align: justify;
			background-color: hsl(250, 27%, 47%);
			padding-inline: 2rem;
			padding-block: 1rem;
			border-radius: 0.5rem;
		}
	}
}

.enlighten {
	display: flex;
	align-items: center;
	gap: 1rem;
	button {
		background-color: hsl(33, 35%, 54%);
		color: white;
		padding: 1rem;
		border-radius: 0.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-wrap: nowrap;
		cursor: pointer;
	}
}

.loading {
	& img {
		height: 2rem;
	}
}

.title {
	display: flex;
	justify-content: center;
}

.title h1 {
	position: fixed;
	top: 40%;
}

@media (width < 600px) {
	.container {
		width: 100%;
		padding-inline: 0;
	}
	.title {
		display: none;
	}
	/* .app {
		justify-content: center;
	} */
}
